APP_NAME=TÜRKMENSTANDARTLARY
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

MAIL_TDS_MAILER=smtp
MAIL_TDS_HOST=smtp.sanly.tm
MAIL_TDS_PORT=465
MAIL_TDS_USERNAME=tds@sanly.tm
MAIL_TDS_PASSWORD='041098Esca#'
MAIL_TDS_ENCRYPTION=ssl
MAIL_TDS_FROM_ADDRESS="${APP_NAME}"

MAIL_FROM_NAME="${APP_NAME}"

MAIL_RECEIVER_USERNAME='tsmm@sanly.tm'
MAIL_RECEIVER_PASSWORD='041098Esca#'

GITHUB_TOKEN=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

MAIL_RECEIVER_USERNAME_CORP_TDS="tds@sanly.tm"
MAIL_RECEIVER_USERNAME_CORP_TSMM="info@tds.gov.tm"
